<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Cliente - {{ cli_nome }}</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static '/img/favicon.ico' %}" />
    <!-- Custom styles for this template -->
</head>
<body>
    <div class='wrapper'>
        <div class='container'>
        </div>
        <p class="font-weight-bold text-center">Dados do Cliente</p>
        <div class='details'>
            <label>Nome:<br />{{cli_nome}}</label>
            <hr class='hrItem' />
        </div>
    </div>
    <footer>
        <div class="row">
            <h2 class="direita">Data: {{hoje}}.</h2>
        </div>
    </footer>

</body>

</html>