<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Cliente - {{ cli_nome }}</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="icon" type="image/png" href="{% static '/img/favicon.ico' %}" />
    <!-- Custom styles for this template -->
    <style type="text/css">
        div.centralizar {
            text-align: center;
        }
        div.direita {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class='centralizar'>
        <p class="font-weight-bold text-center">Dados do Cliente</p>
    </div>
    <div class='details'>
        <label>Nome:<br />{{cli_nome}}</label>
        <hr class='hrItem' />
    </div>
    
    <footer>
        <div class="direita">
            <h2 >Data: {{hoje}}.</h2>
        </div>
    </footer>

</body>

</html>