{% extends 'base.html' %}

{% block body %}
{% load static %}
<main class="container "align="center">
    <section class="row text-center placeholders">
        <div class="jumbotron ">
            <h1>Novo Cliente</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label>Nome Completo </label>
                        <input type="text" class="form-control" name="name" maxlength="200" required autofocus>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Data de Nasc.</label>
                        <input type="date" class="form-control" name="data_nasc">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Venc. Habilitação</label>
                        <input type="date" class="form-control" name="venc_hab">
                    </div>
                    <div class="form-group col-md-3">
                    </div>
                    <div class="form-group col-md-3">
                        <label>RG</label>
                        <input type="text" class="form-control" maxlength="20" name="rg">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Data</label>
                        <input type="date" class="form-control" name="rg_data">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Estado</label>
                        <input type="text" class="form-control" name="rg_uf">
                    </div>
                    <div class="form-group col-md-3">
                        <label>CPF</label>
                        <input type="text" class="form-control" maxlength="20" name="cpf">
                    </div>
                    <div class="form-group col-md-7">
                        <label>Endereço</label>
                        <input type="text" class="form-control" maxlength="200" name="end">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Num.</label>
                        <input type="number" class="form-control" maxlength="6" name="num">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Bairro</label>
                        <input type="text" class="form-control" maxlength="100" name="bairro">
                    </div>
                    <div class="form-group col-md-3">
                        <label>CEP</label>
                        <input type="text" class="form-control" maxlength="10" name="cep">
                    </div>
                    <div class="form-group col-md-3">

                    </div>
                    <div class="form-group col-md-4">
                        <label>Cidade</label>
                        <input type="text" class="form-control" maxlength="200" name="cidade">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputName">Estado</label>
                        <input type="text" class="form-control" maxlength="100" name="estado">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Telefone</label>
                        <input type="tel" class="form-control" maxlength="20" name="tel">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Celular</label>
                        <input type="tel" class="form-control" maxlength="20" name="cel">
                    </div>
                    <div class="form-group col-md-6">
                        <label>E-mail</label>
                        <input type="email" class="form-control" maxlength="200" name="mail">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Telefone</label>
                        <input type="tel" class="form-control" maxlength="20" name="tel1">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Celular</label>
                        <input type="tel" class="form-control" maxlength="20" name="cel1">
                    </div>
                    <div class="form-group col-md-6">
                        <label>E-mail</label>
                        <input type="email" class="form-control" maxlength="200" name="mail1">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Telefone</label>
                        <input type="tel" class="form-control" maxlength="20" name="tel2">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Celular</label>
                        <input type="tel" class="form-control" maxlength="20" name="cel2">
                    </div>
                    <div class="form-group col-md-6">
                        <label>E-mail</label>
                        <input type="email" class="form-control" maxlength="200" name="mail2">
                    </div>
                </div>
                
                <br />
                <button type="submit" class="btn btn-primary float-right">Salvar</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}