[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
"psycopg2" = "==2.7.3"
django-heroku = "*"
Django = "<2,>=1.9"
gunicorn = "==19.7.1"

[requires]
python_version = "3.5"

[dev-packages]
